# Practical

## Problem 1

## Importing pandas

**1.** Import pandas under the name `pd`.

Import արեք pandas մոդուլը `pd` անունով։

In [2]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

 Տպեք pandas մոդուլի տարբերակը։

In [3]:
pd.__version__

'1.0.1'

## DataFrame basics



Consider the following Python dictionary `data` and Python list `labels`:

In [9]:
import numpy as np



data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**3.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

Ստեղծեք `df` DataFrame `data` dictionary-ից, որի index-ը կլինի `labels` list-ը։

In [37]:
df = pd.DataFrame.from_dict(data)
df.index = labels
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**4.** Return the first 3 rows of the DataFrame `df`.

Տպեք `df` DataFrame-ի առաջին 3 տողերը։

In [38]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**5.** Select just the `animal` and `age` columns from the DataFrame `df`.

`df` DataFrame-ից ընտրեք միայն `animal` և `age` սյուները։

In [39]:
df["animal"]
df["age"]

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

**6.** Select the data in rows `[3, 4, 8]` and in columns `['animal', 'age']`.

`df`-ից վերցրեք `[3, 4, 8]` տողերում ու `['animal', 'age']` սյուներում գտնվեղ տվյալները։

In [36]:
df.loc[[3, 4, 8], ['animal', 'age']]
print (df)

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

**7.** Select only the rows where the number of visits is greater than 3.

Ընտրեք `df` DataFrame-ի այն տողերը, որոնց տվյալների համար visits սյան արժեքը 3-ից մեծ է։

In [35]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**8.** Select the rows where the age is missing, i.e. is `NaN`.

Ընտրեք այն տողերը, որոնց տվյալների համար age սյունի արժեքը բացակայում է՝ այսինքն `NaN` է։

In [42]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**9.** Select the rows where the animal is a cat and the age is less than 3.

Ընտրեք այն տողերը, որոնց տվյալների համար animal սյունի արժեքը cat է և age սյունի արժեքը փոքր է 3-ից։

In [43]:
df[(df['animal'] == "cat") & df["age"] < 3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**10.** Change the age in row 'f' to 1.5.

Փոխարինեք 'f' տողի age սյունի արժեքը 1.5-ով։

In [47]:
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**11.** Add a new column 'n' with all 1s.

Ավելացրեք միայն 1-եր պարունակող 'n' սյունը։

In [49]:
df['n'] = 1
print(df)

  animal  age  visits priority  n
a    cat  2.5       1      yes  1
b    cat  3.0       3      yes  1
c  snake  0.5       2       no  1
d    dog  NaN       3      yes  1
e    dog  5.0       2       no  1
f    cat  1.5       3       no  1
g  snake  4.5       1       no  1
h    cat  NaN       1      yes  1
i    dog  7.0       2       no  1
j    dog  3.0       1       no  1

**12.** Count the number of each type of animal in `df`.

Հաշվեք `df`-ում տեղ գտած կենդանիների տիպերի քանակը։

In [53]:
x = df['animal'].value_counts()
print(x)

cat      4
dog      4
snake    2
Name: animal, dtype: int64

## Problem 2

### Import the library pandas as pd

#### Import արեք pandas գրադարանը pd  անունով

In [ ]:
import pandas as pd

### Use the dataset gender.txt, assign to a variable gender and use user_id as index

### Օգտագործեք gender.txt dataset-ը, վերագրեք այն gender փոփոխականին ու օգտագործեք  user_id սյունը որպես index

In [75]:
s = pd.read_csv("gender.txt", sep = "|")
print(s)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Print the first 20 entries

### Տպեք առաջին 20 արժեքները

In [59]:
df.head(20)

  animal  age  visits priority  n
a    cat  2.5       1      yes  1
b    cat  3.0       3      yes  1
c  snake  0.5       2       no  1
d    dog  NaN       3      yes  1
e    dog  5.0       2       no  1
f    cat  1.5       3       no  1
g  snake  4.5       1       no  1
h    cat  NaN       1      yes  1
i    dog  7.0       2       no  1
j    dog  3.0       1       no  1

### Print the last 10 entries

### Տպեք վերջին 10 արժեքները

In [60]:
df.tail(10)

  animal  age  visits priority  n
a    cat  2.5       1      yes  1
b    cat  3.0       3      yes  1
c  snake  0.5       2       no  1
d    dog  NaN       3      yes  1
e    dog  5.0       2       no  1
f    cat  1.5       3       no  1
g  snake  4.5       1       no  1
h    cat  NaN       1      yes  1
i    dog  7.0       2       no  1
j    dog  3.0       1       no  1

### What is the number of rows in the dataset?

### Քանի տող կա dataset-ում?

In [62]:
x = df.shape[0]
print(x)
#row, col = df.shape
#print(row)

10

### What is the number of columns in the dataset?

### Քանի սյուն կա dataset-ում?

In [63]:
x = df.shape[1]
print(x)
#row, col = df.shape
#print(col)

5

### Print the name of all the columns

### Տպեք սյուների անունները

In [64]:
print(df.columns)

Index(['animal', 'age', 'visits', 'priority', 'n'], dtype='object')

### How is the dataset indexed?

### Ինչպես է ինդեքսավորված dataset-ը?

In [65]:
s.index

RangeIndex(start=0, stop=943, step=1)

### What is the data type of each column?

### Ինչ տիպի է ամեն սյունը՞

In [67]:
s.dtypes

user_id|age|gender|occupation|zip_code    object
dtype: object

### Print only the occupation column

### Տպեք միայն occupation սյունը

In [77]:
print(s["occupation"])

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### How many different occupations there are in this dataset?

### Քանի տարբեր occupation կա dataset-ում?

In [78]:
x = s['occupation'].value_counts()
print(x)

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

### What is the most popular occupation?

### Որն է ամենահաճախ հանդիպող occupation-ը?

In [80]:
print(max(x))

196

## Problem 3

### Import the libraries

### Import արեք pandas գրադարանը pd անունով

In [ ]:
import pandas as pd

### Import the dataset drinks.csv, assign it to a variable called drinks

### Import արեք drinks.csv dataset-ը, վերագրեք այն drinks փոփոխականին

In [97]:
drinks = pd.read_csv("drinks.csv")
print(drinks)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

### Which continent drinks more beer on average?

### Որ continent-ն է միջինում ավելի շատ գարեջուր խմում՞

In [105]:
print (drinks.groupby('continent').mean())

           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### For each continent print the statistics for wine consumption

### Ամեն continent-ի համար տպեք wine_servings-ի ստատիստիկան (mean, min, max, std, quartiles)

In [106]:
print (drinks.groupby('continent')['wine_servings'].mean())

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

In [107]:
print (drinks.groupby('continent')['wine_servings'].min())

continent
AF    0
AS    0
EU    0
OC    0
SA    1
Name: wine_servings, dtype: int64

In [113]:
print (drinks.groupby('continent')['wine_servings'].max())

continent
AF    233
AS    123
EU    370
OC    212
SA    221
Name: wine_servings, dtype: int64

In [109]:
print (drinks.groupby('continent')['wine_servings'].std())

continent
AF    38.846419
AS    21.667034
EU    97.421738
OC    64.555790
SA    88.620189
Name: wine_servings, dtype: float64

In [110]:
print (drinks.groupby('continent')['wine_servings'].quantile())

continent
AF      0.0
AS    186.5
EU    123.0
OC    185.5
SA    354.5
Name: wine_servings, dtype: float64

### Print the mean alcohol consumption per continent for every column

### Ամեն սյան համար տպեք միջին ալկոհոլի օգտագործման քանակը ամեն continent-ի համար

In [116]:
print (drinks.groupby('continent')[['beer_servings', 'spirit_servings','wine_servings', 'total_litres_of_pure_alcohol']].mean())

           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Print the median alcohol consumption per continent for every column

### Ամեն սյան համար տպեք մեդիան ալկոհոլի օգտագործման քանակը ամեն continent-ի համար

In [117]:
print (drinks.groupby('continent')[['beer_servings', 'spirit_servings','wine_servings', 'total_litres_of_pure_alcohol']].median())

           beer_servings  spirit_servings  wine_servings  \
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

### Print the mean, min and max values for spirt consumption. 

### Տպեք spirt-ի օգտագործման mean, min ու max-ը։

In [118]:
print(drinks[['spirit_servings']].mean())

spirit_servings    80.994819
dtype: float64

In [119]:
print(drinks[['spirit_servings']].min())

spirit_servings    0
dtype: int64

In [120]:
print(drinks[['spirit_servings']].max())

spirit_servings    438
dtype: int64